@import "./variables";


// section
.section_info {
    

    >:nth-child(1) {
        background-color: $grey;

    }

    >:nth-child(2) {
        background-color: $yellow;
        text-align: center;

        p {
            padding-top: 1em;
        }
    }

    .join_button {
        visibility: hidden;
    }

    .content_item {
        padding: 2.5em;
    }

    p {
        text-align: center;
    }
}
