$orange: #F17949;
$blue: #C7DDEA;
$yellow:#FAB131;
$lightgrey:#EBEBEB;
$grey:#A9A19E;
$darkgrey: #777574;

$headings: 'Frank Ruhl Libre', serif;
$paragraph: 'Fira Sans', sans-serif;


/* 
font-weight headings: 900;
font-weight paragraphs: 100;

font-size h1: 
font-size h2:
font-size h3:
font-size p, button: 1em
*/





